doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")
    meta(name="robots", content="none, noindex, nofollow")
    title Search | #{general.siteName}
    link(rel="stylesheet", href="/style/index.css")

    script(src="https://cse.google.com/cse.js?cx=" + general.searchID, async=true)
    script.
      document.addEventListener('DOMContentLoaded', function () {
        const query = new URLSearchParams(location.search.slice(1)).get('q');
        Array.from(document.querySelectorAll('[name="q"]')).forEach((el) => {
          el.value = query;
        });
      });

    //- Global site tag (gtag.js) - Google Analytics
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-25034793-4")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-25034793-4');
  body
    header.max-width-4.mx-auto.px2
      h1.center
        a(href="/") 宮下研究室 論文データベース
      form(method="GET", action="/search").flex
        input.flex-auto.p2.border(type="search", name="q", placeholder="Google Search")
    section.max-width-4.mx-auto.px2
      gcse:searchresults-only
    footer.max-width-4.mx-auto.px2.my3
      p.center
        span &copy; Miyashita Lab
