/** Fonts */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato");

/** Styles */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css");
@import url("https://unpkg.com/basscss@8.0.2/css/basscss.min.css");
@import url("https://unpkg.com/basscss-responsive-margin@1.1.0/css/responsive-margin.css");
@import url("https://unpkg.com/basscss-responsive-padding@1.1.0/css/responsive-padding.css");
@import url("https://unpkg.com/basscss-responsive-layout@1.0.1/css/responsive-layout.css");
@import url("https://unpkg.com/basscss-responsive-type-scale@1.0.1/css/responsive-type-scale.css");

body {
  line-height: 1.5;
}

body,
input,
textarea {
  font-family:
    'Lato',
    -apple-system,
    BlinkMacSystemFont,
    "Yu Gothic",
    YuGothic,
    Verdana,
    Meiryo,
    "M+ 1p",
    sans-serif;
}

input {
  -webkit-appearance: none !important;
  border-radius: 0;
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: inherit;
}

.border,
.border-left,
.border-right,
.border-top,
.border-bottom {
  border-color: #E0E0E0;
}

footer {
  color: #424242;
}

.video-wrapper {
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    padding-top: calc(100% * 9 / 16);
  }
  & > .video-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.link-list {
  list-style-type: none;
  & a:hover {
    border-bottom: 1px solid #E0E0E0;
  }
}

.keyword-list {
  & span:nth-last-child(2) {
    display: none;
  }
}

// Google Search
.gsc-control-cse,
.gsc-control-cse .gsc-table-result {
  font-family: inherit !important;
}

.gsc-cursor-box {
  text-align: center !important;
}

.gsc-adBlock {
  display: none !important;
}

@media (max-width: 40em) {
  html, body {
    font-size: 15px;
    line-height: 1.75;
  }
}
